@import url("https://fonts.googleapis.com/css?family=Muli:600|Crimson+Text:600italic|Sintony:regular");

body, html, p{
    font-family: "Sintony";
    font-weight: normal;
    font-style: normal;
    max-width: 750px;
    margin:auto;
}
    
h1{
    font-weight: 600;
    font-style: normal;
}

h2, h3, h4{
    font-weight: 600;
    font-style: oblique;
}

.header{
    text-align: center;
}

#content{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#message{
    margin-top: 100px;
}
